* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
}

:root {
  font-size: 62.5%;
  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsla(148, 23%, 89%, 1);
  --bg-light:hsl(180,14%,97%);
  --nav-height: 7.2rem;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  background: var(--bg-light);
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

section {
  padding-block: 10rem;
}

header {
  margin-top: calc(4.1rem + var(--nav-height));
}

header::before {
  content: "";
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--brand-light);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

header h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

header p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

header button {
  cursor: pointer;
  background: var(--primary-color);
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 4rem;
  width: 26.3rem;
  height: 6.2rem;
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  margin: 0 auto 6rem;
}

header > img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

.stats {
  width: 32.7rem;
  margin-inline: auto;
  padding-block: 4rem;
  background-color: var(--brand-beige);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;
}

.stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 0.4rem;
}
.stat p {
  margin: 0;
  color: var(--primary-color);
}

nav {
  display: flex;
  height: var(--nav-height);
  /* padding: 1.6rem 2.4rem; */
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.scroll {
  background: var(--primary-color);
  width: 100vw;
}

nav.scroll svg:nth-child(1) path {
  fill: #ffffff;
}

nav.scroll button path {
  stroke: #ffffff;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu,
.closeMenu,
body.menuExpanded .openMenu {
  opacity: 0;
  visibility: hidden;
}

body.menuExpanded .menu,
body.menuExpanded .closeMenu {
  opacity: 1;
  visibility: visible;
}

body.menuExpanded {
  overflow: hidden;
}

body.menuExpanded > :not(nav) {
  display: none;
}

body.menuExpanded nav {
  position: relative;
}

body.menuExpanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);
  width: 100vw;
  height: 100vh;
  padding-top: var(--nav-height);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: #ffffff;
}

.menu ul li a {
  color: #ffffff;
}

.menu .button {
  background: #ffffff;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  color: var(--primary-color);
  padding: 1.6rem 3.2rem;
  display: inline-block;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.socialLinks {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
}

body.menuExpanded .logo,
body.menuExpanded button {
  position: relative;
  z-index: 100;
}

body.menuExpanded .logo path {
  fill: #ffffff;
}

body.menuExpanded button path {
  stroke: #ffffff;
}

#services header h4 {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

#services header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--headline);
  margin-bottom: 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;
  text-align: left;
  background: #ffffff;
  border: var(--brand-light);
  border-radius: 0.6rem;
}

#services .card h3 {
  margin-block: 1.6rem;
}
